<section class="content">
    <article>
        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section class="listing-description">
            <h2 class="listing-heading">{{imovel?.nome}}</h2>
            <p class="listing-location">
                {{imovel?.cidade}}, {{imovel?.estado}}
            </p>
        </section>

        <section class="listing-features">
            <h2 class="section-heading">Informações adicionais</h2>
            <ul>
                @for(info of imovel?.adicional; track $index){
                    <li>{{info.chave}}: {{info.valor}}</li>
                }
            </ul>
        </section>
        <div>
            <button type="button" class="primary alinha cursor" (click)="abrirAluguel()">Alugar</button>
            <button type="button" class="primary alinha cursor" (click)=abrirFinanciamento()>Calcular Financiamento</button>
        </div>
    </article>
</section>